<!doctype html>
<html lang="en" ng-app="Twitter">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script src="/javascripts/TweetList.js"></script>

    <link rel="stylesheet" type="text/css" href="http://www.typo3camp-rheinruhr.de/typo3conf/ext/t3crr/Resources/Public/Stylesheets/main.min.css?1504615571" media="all">
    <link rel="stylesheet" type="text/css" href="/stylesheets/TweetList.css" media="all">
</head>
<body>

<div class="background-white">

    <!-- INFOBAR START -->
    <div id="infobar">
        <div class="row">
            <a href="tickets.html">03.11-05.11 im Unperfekthaus, Essen.</a>
        </div>
    </div>

    <!-- HEADER START -->
    <header id="top" class="pageheader">
        <div class="row">
            <a class="pull_left" id="logo" href="http://www.typo3camp-rheinruhr.de/">
                <img src="http://www.typo3camp-rheinruhr.de/typo3conf/ext/t3crr/Resources/Public/Images/typo3camp-rheinruhr.png" width="245" title="TYPO3camp RheinRuhr" alt="TYPO3camp RheinRuhr">
            </a>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- the root element of the view assigned to the TweetList javascript controller-->
    <div ng-controller="TweetList" class="tweet-list">

        <div class="row clearfix">

            <div ng-repeat="tweet in tweetsResult" class="three columns tweet">

                <div class="tweet-content">
                    <p>{{tweet.text}}</p>
                </div>
                <div class="tweet-author">
                    <img ng-src="{{tweet.user.profile_image_url_https}}"/>
                    <div class="name">{{tweet.user.screen_name}}</div>
                </div>

            </div>

        </div>

    </div>

    <!-- FOOTER START -->
    <footer class="footer-page">
        <div class="row">
            <div class="footer-logo">
                <a href="http://www.typo3camp-rheinruhr.de/">
                    <img src="http://www.typo3camp-rheinruhr.de/typo3conf/ext/t3crr/Resources/Public/Images/typo3camp-rheinruhr-grey.png" width="173" height="56" alt="TYPO3camp Rhein Ruhr">
                </a>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

</div>

</body>
</html>
