blockquote.twitter-tweet {
	display: none;
}

a {
	text-decoration: none;
}

.tweet-item {
	margin-bottom: 10px;
}

.tweet-details {
	padding-left: 15px;
	font-size: 11px;
	color: #999;
}

.tweet-details a {
	color: #999;
}

.row {
	max-width: 1900px;
	margin: 0 40px;
}
